@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000;
}

#header{
  background-image: url(../assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}